%h2= t('.title')

= simple_form_for(current_user, url: users_profile_path, html: { method: :put, data: { castle: true } }) do |f|
  = f.error_notification
  .form-inputs
    = f.input :email, required: true, autofocus: true
  .form-actions
    = f.button :submit, t('.button'), class: 'btn btn-primary w-full'

= button_to t('.custom_event'), users_custom_event_path, class: 'btn w-full mt-3', form: { data: { castle: true } }

.btn-row
  = link_to t('.back'), root_path, class: 'btn'
