!!!
%html{ lang: 'en' }
  = render 'layouts/header'

  %body
    %nav.navbar
      = link_to root_path, class: 'brand', id: 'logo' do
        %span.brand-dot
        Castle
        %span.text-muted{ style: 'font-weight:400' } demo
      .nav-links
        = link_to t('.nav.webhooks'), integrations_castle_webhooks_path

        - if user_signed_in?
          = link_to t('.nav.edit_password'), edit_user_registration_path
          = link_to t('.nav.edit_profile'), edit_users_profile_path
          = button_to t('.nav.sign_out'), destroy_user_session_path, method: :delete, form: { data: { castle: true } }
        - else
          = link_to t('.nav.login'), new_user_session_path
          = link_to t('.nav.register'), new_user_registration_path

    %main.container-page{ role: 'main' }
      = render 'layouts/messages'

      = yield

    = render 'layouts/castle_js'
