!!!
%html{ lang: 'en' }
  = render 'layouts/header'

  %body
    %nav.navbar
      = link_to root_path, class: 'brand', id: 'logo' do
        %svg.brand-logo{ viewBox: '0 0 158 158', xmlns: 'http://www.w3.org/2000/svg', 'aria-hidden': 'true' }
          %path{ fill: 'currentColor', 'fill-rule': 'evenodd', 'clip-rule': 'evenodd', d: 'M79 158c43.63 0 79-35.37 79-79S122.63 0 79 0 0 35.37 0 79s35.37 79 79 79ZM31 57h24v12h12V57h24v12h12V57h24v24c-6.627 0-12 5.373-12 12v12H43V93c0-6.627-5.373-12-12-12V57Z' }
        Castle
        %span.text-muted{ style: 'font-weight:400' } demo
      .nav-links
        = link_to t('.nav.webhooks'), integrations_castle_webhooks_path

        - if user_signed_in?
          = link_to t('.nav.lists'), users_lists_path
          = link_to t('.nav.privacy'), users_privacy_path
          = link_to t('.nav.password_reset'), users_password_reset_path
          = link_to t('.nav.edit_password'), edit_user_registration_path
          = link_to t('.nav.edit_profile'), edit_users_profile_path
          = button_to t('.nav.sign_out'), destroy_user_session_path, method: :delete, form: { data: { castle: true } }
        - else
          = link_to t('.nav.login'), new_user_session_path
          = link_to t('.nav.register'), new_user_registration_path

    %main.container-page{ role: 'main' }
      = render 'layouts/messages'

      = yield

    = render 'layouts/castle_js'
