!!!
%html{ lang: 'en' }
  = render 'layouts/header'

  %body
    .container-narrow
      .text-center.mb-6
        = link_to root_path, class: 'brand flex-col justify-center gap-3 text-[1.3rem]' do
          %svg.brand-logo.brand-logo-lg{ viewBox: '0 0 158 158', xmlns: 'http://www.w3.org/2000/svg', 'aria-hidden': 'true' }
            %path{ fill: 'currentColor', 'fill-rule': 'evenodd', 'clip-rule': 'evenodd', d: 'M79 158c43.63 0 79-35.37 79-79S122.63 0 79 0 0 35.37 0 79s35.37 79 79 79ZM31 57h24v12h12V57h24v12h12V57h24v24c-6.627 0-12 5.373-12 12v12H43V93c0-6.627-5.373-12-12-12V57Z' }
          %span
            Castle
            %span.text-muted{ style: 'font-weight:400' } demo

      = render 'layouts/messages'

      .card
        = yield

      = render 'users/shared/castle_results'

    = render 'layouts/castle_js'
