%h2= t('.title')

= simple_form_for(resource,
                  as: resource_name,
                  url: registration_path(resource_name),
                  html: { method: :put }) do |f|

  = f.error_notification
  .form-inputs
    = f.input :password, autocomplete: 'off', hint: t('.password_hint'), required: false
    = f.input :password_confirmation, required: false
    = f.input :current_password, hint: t('.current_password_hint'), required: true
  .form-actions
    = f.button :submit, t('.button'), class: 'btn btn-primary w-full'

.btn-row.justify-between
  = link_to t('.back'), root_path, class: 'btn'
  = link_to t('.cancel'),
            registration_path(resource_name),
            data: { confirm: t('shared.confirm') },
            method: :delete,
            class: 'btn btn-danger'
